.dropdown{
    margin-right: 10px;
}

.align_right{
    float: right;
    margin-right: 10px;
}

.comment_box textarea{
    height: 100px;
    width: 100%;
    max-height: 300px;
    max-width: 300px;
}

.mb_30{
    margin-bottom: 30px;
}