<div class="container" style="margin-bottom: 120px">
    <div class="row">
        <div class="col-lg-2">
            <button onclick="goTo('{{ url_for("home") }}')" type="button"
                    class="btn mb-2 mb-md-0 btn-secondary btn-block btn-round">
                <i class="fa-solid fa-angle-left"></i>
                <span>Naar film overzicht</span>
            </button>
        </div>
        <div class="col-lg-8">
            <form method="post" class="text-center">
                {{ form.hidden_tag() }}

                <div class="form-outline mb-4">
                    {{ form.titel.label }} {{ form.titel }}
                </div>

                <div class="form-outline mb-4">
                    {{ form.regisseur.label }} {{ form.regisseur }}
                </div>

                <div class="form-outline mb-4">
                    {{ form.acteur.label }} {{ form.acteur }}
                </div>

                <div class="text-center">
                    {{ form.submit() }}
                </div>
            </form>
        </div>
    </div>
</div>