<div class="container" style="margin-bottom: 120px">
    <div class="row">
        <div class="col-lg-3">
            <button onclick="goTo('{{ url_for("home") }}')" type="button"
                    class="btn mb-2 mb-md-0 btn-secondary btn-block btn-round">
                <i class="fa-solid fa-angle-left"></i>
                <span>Naar film overzicht</span>
            </button>
        </div>
        <div class="col-lg-6">

            <div class="list-group">
                {% for regisseur in regisseurs %}
                    <button type="button" class="list-group-item list-group-item-action">
                        {{ regisseur.voornaam }} {{ regisseur.achternaam }}
                        <a class="align_right" href="{{ url_for('regisseur', regisseur_id=regisseur.id) }}"><i class="fa-solid fa-pen"></i></a>
                        <span class="delete_regisseur align_right" id="{{ regisseur.id }}">
                            <i class="fa-solid fa-trash-can"></i>
                        </span>
                    </button>
                {% endfor %}
            </div>
        </div>
    </div>
</div>